/* src/Login.css */
.container {
    display: flex; /* Utiliza Flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
    background-color: #444444;
}

.login {
    width: 300px; /*ancho del contenedor*/
    margin: 0 auto; /*centra el contenedor de login horizontalmente (cuadrado del inicio)*/
    padding: 20px; /*un margen dentro del contenedor*/
    border: 1px solid #ccc; /*Añade un borde de 1 píxel de ancho, sólido y de color gris claro*/
    border-radius: 5px; /*Redondea las esquinas del borde del contenedor*/
    background-color: cadetblue;
}

.login h2 {
    text-align: center;
}

.login form div {
    margin-bottom: 15px;
}

.login label {
    display: block;
    margin-bottom: 0px;
    text-align: left; /* Alineación del texto a la izquierda */
    width: 100%; /* Asegura que la etiqueta ocupe todo el ancho disponible */
}

.login input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
/* Estilos para los campos input cuando están enfocados */
.login input:focus {
    border: 2px solid black; /* Bordes negros cuando se enfoca */
    outline: none; /* Elimina el contorno predeterminado */
}
.login button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}
.login button:hover {
    background-color: #333; /* Cambio de color al pasar el mouse sobre el botón */
}

.login button:active {
    background-color: #555; /* Cambio de color cuando se hace clic en el botón */
}
