/* src/componentes/Login/Login.css */
/* Azul Oscuro: #013465 */
/* Celeste: #96bad7 */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #013465;
}

.login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #96bad7;
}

.login h2 {
    text-align: center;
    color: #013465;
}

.login form div {
    margin-bottom: 15px;
}

.login label {
    display: block;
    margin-bottom: 0px;
    text-align: left;
    width: 100%;
    color: #013465;
}

.login input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.login input:focus {
    border: 2px solid black;
    outline: none;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: #013465;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #476483;
}

.login button:active {
    background-color: #c9d7e5;
}
