/* src/componentes/Login/Login.css */
/* Azul Oscuro: #013465 */
/* Celeste: #96bad7 */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    background-image: linear-gradient(to bottom right, #013465, #96bad7);
}

.login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #96bad7,#013465);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Sombra para efecto de sobresalir */
}

.login h2 {
    text-align: center;
    color: #013465;
}

.login form div {
    margin-bottom: 15px;
}

.login label {
    display: block;
    margin-bottom: 0px;
    width: 100%;
    color: #013465;
    margin-left: 3%;
}

.login input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 35px;
}

.login input:focus {
    border: 2px solid black;
    outline: none;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: #013465;
    color: #fff;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #476483;
}

.login button:active {
    background-color: #c9d7e5;
}
