.contenedorProductos{
    min-width: 30vh;
    width: auto;
    min-height: 40vh;
    max-height: 80vh;
    overflow: hidden;
    overflow-y:auto;
    display: flow-root;
    padding:50px ;
    background-image: linear-gradient(to bottom right, #96bad7, #013465) !important;
    border-radius: 30px;

    /* Estilo para WebKit Browsers */
    /* Barra de desplazamiento */
    scrollbar-width: 2px !important; /* Tamaño de la barra de desplazamiento */
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(200, 200, 200, 0) !important; /* Color del thumb y del track */
}
.contenedorProductos h1{
    color: #013465;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.323);
    text-align: center;
    margin: 0;
    margin-top: -30px;
}

.contProducto{
    width: 50vh;
    overflow: hidden;
    min-height:10vh !important;
    height: auto;
    background-color: rgb(255, 255, 255) ;
    display: flex;
    flex-direction: column ;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
}
.contProducto li{
    margin: 10px;
    font-size: 1.2rem;
    
}

.contProducto p{
    margin-top: 10px;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 50px;
    background-color: #96bad7;
    width: 100%;
    color: white;
    margin-bottom: -5px;
}


@media (max-width:720px) {

    .contenedorProductos{
        width: 80%;
        display: contents;
    }
    .contenedorProductos h1{
        margin-top: 15px;
    }
    .contProducto{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}