/* Estilos para AgendarCliente */

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
}

/* Contenedor de página */
.page {
    position: relative; /* Necesario para posicionar el botón de volver */
    width: 300px; /* Ancho de la página */
    max-width: 400px; /* Máximo ancho para contenido */
    padding: 20px;
    background-color: #96bad7; /* Color de fondo celeste */
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, #96bad7, #013465);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Sombra para efecto de sobresalir */
}

.page h2 {
    color: #013465;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.323);
    text-align: center;
}

/* Botón de volver */
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #013465;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.back-button:hover {
    background-color: #476483;
    transform: scale(1.2);
}

.back-button:active {
    background-color: #c9d7e5;
}

/* Formulario */
.login-form {
    display: flex;
    flex-direction: column;
}

/* Estilos para los campos del formulario */
.form-group {
    margin-bottom: 15px;
}
.form-group p {
    margin: 0;
    padding-left: 8px;
    /* text-align: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: #013465;
}
.form-group input {
    background-color: transparent;
    border-bottom: 2px solid white ;
    border-radius: 0;
    color: white;
    box-shadow: none;
    transition: all ;
    text-align: center;
}

.form-group input::placeholder {
    color: white;
}

.form-group input:hover {
    box-shadow: -5px 5px 15px rgba(210, 210, 210, 0.38);
}

.input-field {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 35px; /* Redondear los campos de entrada */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
}

.contListaProducto{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contListaProducto p{
    margin: 0;
    /* padding-left: 8px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: #013465;
    text-align: left;
}

.contListaProducto h1{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-around;
    gap: 60px;
    color: #013465;
    
}

.listaProducto{
    width: 106%;
    min-height: 10vh;
    max-height: 30vh;
    overflow-y: auto;
    background-color: #0135658b;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: -5%;
}

.listaProducto p {
    display: flex;
    justify-content: space-between;
}

.lineaProducto{
    display: flex;
    min-height: 4vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 0px 10px ;
    background-color: #013465;
    color: white;
    transition: all 0.3s ease-in-out;
    
}
.lineaProducto p {
    color: white;
    max-width: 50%;
    font-size: 0.93rem;
    row-gap: 1;
    
}

.contMasMenos{
    
    min-height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    position: relative;
    right: 4px;
}

.contMasMenos button{
    background-color: rgba(165, 165, 165, 0.563);
    border-radius:10px;
    border: 2px solid rgb(248, 248, 248);
    height: 3vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.372);
    text-align: center;
    
}
.contMasMenos button:active{
    transform: scale(1.1);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.372);
}
/* Estilos para el botón de submit */
.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #013465;
    color: #fff;
    border: none;
    border-radius: 35px; /* Redondear el botón */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #c9d7e5;
}

.submit-button:active {
    background-color: #476483;
}

@media (max-width:730px){
    .lineaProducto{
        gap: 15%;
    }
    .contMasMenos button{
        height: 5vh;
        width: 4vh;
        padding: 0;
    }

}